



#main
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#D9E7F8 ;
} 


#div
{
       margin-top: 10%;
       margin-bottom: 10%;
       background-color:#C2C4FE;  
       height: 70%; 
       width: 70%;
       border-radius: 30px; 
       font-family: Arial, Helvetica, sans-serif;
   
}
#main h5
{
     color:rgb(66, 66, 151);
     font-weight:bolder;
}
#h1
{
    border-bottom: 1px solid black;
    width: 10%;
    margin-bottom: 50px;
    padding-top: 30px;
    /* text-align: center; */
}
#h1:hover
{
     border-bottom: 1px solid red ;
}

#Row1
{
    padding-top: 20px;
    padding-bottom: 35px;
   
}
#footer
{
      background-color: #9FA8DA;  
     /* background-color: #BA68C8;  */
    height: 300px;
}
#div1
{
    border-top: 2px solid red ;

}
#div2
{
    border-top: 2px solid #00838F ;

}
#div3
{
    border-top: 2px solid #880E4F ;

}
@media (min-width:768px) {
    #img
    {
       margin-left: -80%;
    }
    
}
#footer
{
   display: flex;
    justify-content:space-around;
   align-items: center;
}
#footer a
{
    color:rgb(9, 9, 123);
    /* font-weight: bold; */
    text-decoration: none;
}
